src/benchmarktool/runscript/schemas/runscript.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- the runscript -->
    <xs:complexType name="runscriptType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="machine" type="machineType"/>
            <xs:element name="system" type="systemType">
                <!-- setting keys have to be unique per system/version-->
                <!-- unfortunately i have found no way to create a link between settings and systems -->
                <!-- schematron should be able to do this but the lxml implementation seems to be incomplete-->
                <xs:unique name="settingKey">
                    <xs:selector xpath="setting"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="config" type="configType"/>
            <xs:element name="benchmark" type="benchmarkType"/>
            <xs:element name="distjob" type="distjobType"/>
            <xs:element name="seqjob" type="seqjobType"/>
            <xs:element name="project" type="projectType"/>
        </xs:choice>
        <xs:attribute name="output" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- a project -->
    <xs:complexType name="projectType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="runspec" type="runspecType"/>
            <xs:element name="runtag" type="runtagType"/>
        </xs:choice>
        <xs:attribute name="name" type="nameType" use="required"/>
        <xs:attribute name="job" type="nameType" use="required"/>
    </xs:complexType>

    <!-- a machine -->
    <xs:complexType name="machineType">
        <xs:attribute name="name" type="nameType" use="required"/>
        <xs:attribute name="cpu" type="xs:token" use="required"/>
        <xs:attribute name="memory" type="xs:token" use="required"/>
    </xs:complexType>

    <!-- a system -->
    <xs:complexType name="systemType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="setting">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="encoding" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="file" type="xs:string" use="required"/>
                                <xs:attribute name="encoding_tag">
                                    <xs:simpleType>
                                        <xs:list itemType="nameType"/>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="nameType" use="required"/>
                    <xs:attribute name="cmdline" type="xs:string"/>
                    <xs:attribute name="cmdline_post" type="xs:string"/>
                    <xs:attribute name="tag">
                        <xs:simpleType>
                            <xs:list itemType="nameType"/>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="dist_template" type="xs:string"/>
                    <xs:attribute name="dist_options" type="xs:string"/>
                    <xs:anyAttribute processContents="lax"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="name" type="nameType" use="required"/>
        <xs:attribute name="version" type="versionType" use="required"/>
        <xs:attribute name="measures" type="nameType" use="required"/>
        <xs:attribute name="config" type="nameType" use="required"/>
        <xs:attribute name="cmdline" type="xs:string"/>
        <xs:attribute name="cmdline_post" type="xs:string"/>
    </xs:complexType>

    <!-- generic attributes for jobs-->
    <xs:attributeGroup name="jobAttr">
        <xs:attribute name="name" type="nameType" use="required"/>
        <xs:attribute name="timeout" type="timeType" use="required"/>
        <xs:attribute name="runs" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="memout" type="xs:positiveInteger"/>
        <xs:attribute name="template_options" type="xs:string"/>
        <xs:anyAttribute processContents="lax"/>
    </xs:attributeGroup>

    <!-- a seqjob -->
    <xs:complexType name="seqjobType">
        <xs:attributeGroup ref="jobAttr"/>
        <xs:attribute name="parallel" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <!-- a distjob -->
    <xs:complexType name="distjobType">
        <xs:attributeGroup ref="jobAttr"/>
        <xs:attribute name="script_mode" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="multi"/>
                    <xs:enumeration value="timeout"/>
                </xs:restriction>
             </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="walltime" type="timeType" use="required"/>
        <xs:attribute name="cpt" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="partition" type="xs:string"/>
    </xs:complexType>

    <!-- a config -->
    <xs:complexType name="configType">
        <xs:attribute name="name" type="nameType" use="required"/>
        <xs:attribute name="template" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="testType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="a"/>
                <xs:element name="b"/>
            </xs:choice>
            <xs:element name="c"/>
        </xs:choice>
    </xs:complexType>

    <!-- a benchmark -->
    <xs:complexType name="benchmarkType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="spec">
                    <xs:complexType>
                        <xs:attribute name="path" type="xs:string" use="required"/>
                        <xs:attribute name="instance_tag" type="tagrefType"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="files">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="add">
                                <xs:complexType>
                                    <xs:attribute name="file" type="xs:string" use="required"/>
                                    <xs:attribute name="group" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="encoding">
                                <xs:complexType>
                                    <xs:attribute name="file" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute name="path" type="xs:string" use="required"/>
                        <xs:attribute name="encoding_tag">
                            <xs:simpleType>
                                <xs:list itemType="nameType"/>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="folder">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="ignore">
                                <xs:complexType>
                                    <xs:attribute name="prefix" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="encoding">
                                <xs:complexType>
                                    <xs:attribute name="file" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute name="path" type="xs:string" use="required"/>
                        <xs:attribute name="group" type="xs:boolean"/>
                        <xs:attribute name="encoding_tag">
                            <xs:simpleType>
                                <xs:list itemType="nameType"/>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:choice>
        <xs:attribute name="name" type="nameType" use="required"/>
    </xs:complexType>

    <!-- common attributes for runspec/runtag -->
    <xs:attributeGroup name="runAttr">
        <xs:attribute name="machine" type="nameType" use="required"/>
        <xs:attribute name="benchmark" type="nameType" use="required"/>
    </xs:attributeGroup>

    <!-- a runspec -->
    <xs:complexType name="runspecType">
        <xs:attribute name="system" type="nameType" use="required"/>
        <xs:attribute name="version" type="versionType" use="required"/>
        <xs:attribute name="setting" type="nameType" use="required"/>
        <xs:attributeGroup ref="runAttr"/>
    </xs:complexType>

    <!-- a runtag -->
    <xs:complexType name="runtagType">
        <xs:attributeGroup ref="runAttr"/>
        <xs:attribute name="tag" type="tagrefType" use="required"/>
    </xs:complexType>

    <!-- simple types used througout the above definitions -->
    <xs:simpleType name="versionType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z._-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="timeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]+)|([0-9]+d)?[ ]*([0-9]+h)?[ ]*([0-9]+m)?[ ]*([0-9]+s)?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tagrefType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\*all\*)|([A-Za-z_\-0-9]+([ ]*[A-Za-z_\-0-9]+)*)([ ]*\|[ ]*([A-Za-z_\-0-9]+([ ]*[A-Za-z_\-0-9]+)*))*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z_\-0-9]*"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- the root element -->
    <xs:element name="runscript" type="runscriptType">
        <!-- machine keys -->
        <xs:key name="machineKey">
            <xs:selector xpath="machine"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:keyref name="machineRef" refer="machineKey">
            <xs:selector xpath="project/runspec"/>
            <xs:field xpath="@machine"/>
        </xs:keyref>
        <!-- benchmark keys -->
        <xs:key name="benchmarkKey">
            <xs:selector xpath="benchmark"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:keyref name="benchmarkRef" refer="benchmarkKey">
            <xs:selector xpath="project/runspec"/>
            <xs:field xpath="@benchmark"/>
        </xs:keyref>
        <!-- system keys -->
        <xs:key name="systemKey">
            <xs:selector xpath="system"/>
            <xs:field xpath="@name"/>
            <xs:field xpath="@version"/>
        </xs:key>
        <xs:keyref name="systemRef" refer="systemKey">
            <xs:selector xpath="project/runspec"/>
            <xs:field xpath="@system"/>
            <xs:field xpath="@version"/>
        </xs:keyref>
        <!-- config keys -->
        <xs:key name="configKey">
            <xs:selector xpath="config"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:keyref name="configRef" refer="configKey">
            <xs:selector xpath="system"/>
            <xs:field xpath="@config"/>
        </xs:keyref>
        <!-- config keys -->
        <xs:key name="jobKey">
            <xs:selector xpath="seqjob|distjob"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:keyref name="jobRef" refer="jobKey">
            <xs:selector xpath="project"/>
            <xs:field xpath="@job"/>
        </xs:keyref>
        <!-- project keys -->
        <xs:unique name="projectKey">
            <xs:selector xpath="project"/>
            <xs:field xpath="@name"/>
        </xs:unique>

    </xs:element>
</xs:schema>
